.heading{
    margin: 10px 100px;
}
.table-container{
    border: 1px solid rgba(128, 128, 128, 0.54);
    margin: 0 100px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.menu-box{
    margin: 20px 100px;
}
.container-header{
    display: flex;
    justify-content: space-between;
    margin: 10px 15px;
    align-items: center;
}
.header-subtitle{
    padding: 3px 6px;
    border-radius: 10px;
}

.header-description{
    color: grey;
}
.header-buttons button{
    padding: 10px 20px;
    border-radius: 10px ;
    margin: 0px 5px;
}

.csv-btn{
    border: 1px solid black;
}
.name-column{
    display: flex;
    align-items: center;
}
.user-img{
    height: 50px;
    border-radius: 50%;
}
.rounder-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    /* background-color: black; */
    border-radius: 50%;
    margin: 0px 5px;
}
.active-user{
    padding: 5px 10px;
    border-radius: 20px;
}
.active-user span{
    background-color: darkgreen;

}
.inactive-user{
    padding: 5px 10px;
    border-radius: 20px;
}
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.disabledBtn:disabled, .disabledBtn[disabled]{
    @apply border-2 border-gray-100 bg-gray-100 text-gray-400
}
.inverted-triangle{
    transform: rotate(180deg) !important;
    fill: black !important;
}
.sortArrows{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
th{
    cursor: pointer;
}
.myTable{
    overflow-x:auto;
    overflow-y: auto;
}

@media (max-width: 1000px){
    .heading,.menu-box,.table-container{
        margin-left:20px ;
        margin-right: 20px;
    }
    h1{
        font-size: 20px !important;
    }
    p{
        font-size: 10px !important;
    }
    .user-img{
        height: 35px;
    }
    h3{
        font-size: 12px !important;
    }
    span{
        font-size: 10px !important;
    }
    .rounder-dot{
        width: 5px;
    height: 5px;
    }
    .active-user,.inactive-user{
        padding: 2px 0px;
        margin: 0px 10px;
        width: 70px;
    }
    .name-title{
        margin-left: 5px;
    }
    
}